{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang="en">
  <head>
    <!-- CSS files -->
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/demo.min.css' %}" rel="stylesheet"/>

  </head>
  <body  class="d-flex flex-column">
    <script src="./dist/js/demo-theme.min.js?1684106062"></script>
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>
        </div>
        <div class="card card-md">
          <div class="card-body">
            <h2 class="h2 text-center mb-4">Войти в аккаунт</h2>
            <form action="{% url 'authentication' %}" method="POST" autocomplete="off" novalidate>
              {% csrf_token %}
              {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                      <p class="text-danger">{{ error }}</p>
                  {% endfor %}
              {% endif %}
              <div class="mb-3">
                <label class="form-label">Номер телефона</label>
                {{ form.phone_number }}
                {% for error in form.phone_number.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
              </div>
              <div class="mb-2">
                <label class="form-label">
                  Пароль
                  <span class="form-label-description">
                    <a href="">Забыли пароль?</a>
                  </span>
                </label>
                <div class="input-group input-group-flat">
                  {{ form.password }}
                  <span class="input-group-text">
                    <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                    </a>
                  </span>
                </div>
                {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
              </div>
              <div class="mb-2">
                <label class="form-check">
                  <input type="checkbox" class="form-check-input"/>
                  <span class="form-check-label">Запомнить меня на этом устройстве</span>
                </label>
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">Войти</button>
              </div>
            </form>
          </div>
        </div>
        <div class="text-center text-muted mt-3">
          Нет аккаунта? <a href="{% url 'register' %}" tabindex="-1">Зарегистрироваться</a>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <script src="{% static 'js/tabler.min.js' %}" defer></script>
    <script src="{% static 'js/demo.min.js' %}" defer></script>
    <!-- Tabler Core -->
  </body>
</html>

{% endblock %}
