{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
    <!-- CSS files -->
      <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
      <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
      <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
      <link href="{% static 'css/demo.min.css' %}" rel="stylesheet"/>

</head>
    <body class="d-flex flex-column">
    <div class="page page-center mt-6">
        <div class="container container-tight py-4">
            <div class="text-center mb-4"></div>
            <form class="card card-md" method="POST" autocomplete="off" novalidate>
                {% csrf_token %}
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Создать новый аккаунт</h2>
                    <div class="mb-3">
                        <label class="form-label">Имя</label>
                        {{ form.username }}
                        {% for error in form.username.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Номер телефона</label>
                        {{ form.phone_number }}
                        {% for error in form.phone_number.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Почта</label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Пароль</label>
                        <div class="input-group input-group-flat">
                            {{ form.password1 }}
                            <span class="input-group-text">
                                <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                        <path
                                            d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                    </svg>
                                </a>
                            </span>
                        </div>
                        {% for error in form.password1.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Подтвердите пароль</label>
                        <div class="input-group input-group-flat">
                            {{ form.password2 }}
                            <span class="input-group-text">
                                <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                        <path
                                            d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                    </svg>
                                </a>
                            </span>
                        </div>
                        {% for error in form.password2.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label class="form-check">
                            <input type="checkbox" class="form-check-input" />
                            <span class="form-check-label">Согласиться с <a href="./terms-of-service.html"
                                    tabindex="-1">пользовательским соглашением</a>.</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Создать новый аккаунт</button>
                    </div>
                </div>
            </form>
            <div class="text-center text-muted mt-3">
                Уже есть аккаунт? <a href="{% url 'authentication' %}" tabindex="-1">Войти</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}