{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block content %}

<head>
<!--    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet">-->
<!--    <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>-->
<!--    <link href="{% static 'css/demo.min.css' %}" rel="stylesheet"/>-->
</head>

<body>
    <div class="container py-5 mt-5">
        <div class="row">
            <div class="col-lg-3 mt-5">
                <div class="shadow-sm mb-4" style="position: sticky; top: 100px;">
                    <div class="card-body">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сортировать</button>
                              <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="?order_by=oldest" style="font-size: 15px;">Сначала старые</a>
                                <a class="dropdown-item" href="?order_by=newest" style="font-size: 15px;">Сначала новые</a>
                                <a class="dropdown-item" href="?order_by=high_price" style="font-size: 15px;">Сначала самые дешевые</a>
                                <a class="dropdown-item" href="?order_by=low_price" style="font-size: 15px;">Сначала самые дорогие</a>
                                <a class="dropdown-item" href="?order_by=abc" style="font-size: 15px;">По алфавитному порядку</a>
                              </div>
                         </div>
                        <form method="get" id="incomes" action="{% url 'product_list' %}">
                        <div class="form-group">
                          {{ filterset.form.sex|as_crispy_field }}
                        </div>
                        <div class="form-group">
                          {{ filterset.form.category|as_crispy_field }}
                        </div>
                        <div class="form-group text-center">
                          <button type="submit" class="btn btn-secondary">Найти</button>
                        </div>
                      </form>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                        {{ filterset.form.media.js }}
                    </div>
                </div>
            </div>
            <!-- ***** Products Area Starts ***** -->

            <div class="col-lg-9 mt-5">
                <div class="btn-group mb-5">
                    <form method="GET" class="form-inline mr-auto ml-md-3 my-2 my-md-0 mw-30 navbar-search mb-3">
                      <div class="input-group">
                        <input type="text" name="q" class="form-control bg-light border-0 small" placeholder="Искать..." aria-label="Search" aria-describedby="basic-addon2" value="{{ request.GET.q }}">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </form>
                </div>
                <section class="section mt-1" id="products">
                    <div class="container">
                        <div class="row">
                            {% for product in products %}
                                <div class="col-sm-3">
                                    <div class="item">
                                    <div class="thumb">
                                        <div class="hover-content">
                                            <ul>
                                                <li><a href="{% url 'product_detail' product.slug %}"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="{% url 'add_to_cart' product.pk %}"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <img class="thumbnail img-fluid" src="{{ product.cover.url }}" alt="Responsive Image">
                                    </div>
                                    <div class="down-content">
                                        <h4>{{ product.name }}</h4>
                                        <span>{{ product.price }}</span>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <!-- ***** Products Area Ends ***** -->
            </div>
        </div>
    </div>
    {% include 'pagination.html' %}
</body>



{% endblock content %}